

// // CLEAR HTML TAGS
// *  {
// 	outline:0;
// 	text-decoration: none;
// 	underline: none;
// }

// body {
// 	margin: 0;
// 	padding: 0;
// }

// // .btnActive {
// // 	background-color: $plum;
// // }



// .persistent {
// 	position: relative;
// 	a {
// 		text-decoration: none;

// 		.contactBtn {	
// 			position: fixed;
// 			display: inline-block;
// 			vertical-align: top;
// 			top: 0px;
// 			right: 60px;
// 			padding: 10px 20px;
// 			background-color: $PRLDgreen;
// 			z-index: 100;
// 			-webkit-transition: background-color .25s ease-out;
// 			-moz-transition: background-color .25s ease-out;
// 			-ms-transition: background-color .25s ease-out;
// 			-o-transition: background-color .25s ease-out;
// 			transition: background-color .25s ease-out;

// 			&:hover {
// 				background-color: @plum;
// 			}

// 			h4 {
// 				font-size: 1.2em !important;
// 				line-height: 1em;
// 			}

// 			@media screen and (max-width: 767px) {
// 				display: none;
// 			}
// 		}
// 	}
// }
// }
// }


// // CONTACT BUTTON: PERSISTENT;

// .persistent {
// 	position: relative;
// 	a {

// 		.contactBtn {	
// 			position: fixed;
// 			display: inline-block;
// 			vertical-align: top;
// // top: 20px;
// right: 15%;
// padding: 10px 20px;
// background-color: @plumTrans;
// z-index: 100;
// -webkit-transition: background-color .25s ease-out;
// -moz-transition: background-color .25s ease-out;
// -ms-transition: background-color .25s ease-out;
// -o-transition: background-color .25s ease-out;
// transition: background-color .25s ease-out;

// &:hover {
// 	background-color: @plum;
// }

// h4 {
// 	font-size: 1.2em !important;
// 	line-height: 1em;
// }

// @media screen and (max-width: 767px) {
// 	display: none;
// }
// }
// }
// }
// }
// }

// /* Large Devices, Wide Screens */
// @media only screen and (min-width : 1200px) {
// 	body {
// // font-size: 18px
// }
// }
// img {
// 	outline: none;
// 	text-decoration: none;
// }
// a {
// 	outline: none;
// 	text-decoration: none;
// 	color: @KOtext;

// 	&:active, &:visited {
// 		color: @KOtext;
// 		text-decoration: none;
// 	}
// 	&:hover {
// 		color: @KOtext;
// 		text-decoration: none;
// 	}
// }

// button {
// 	display: block;
// 	width: 100%;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	box-sizing: border-box;
// 	padding: 6px 20px;
// 	border: 1px solid @plum;
// 	background-color: @whiteTrans2;
// 	font-family: @scriptStack;
// 	font-size: 1.8em;
// 	color: @plum;
// 	outline: none;
// 	text-decoration: none;
// 	-webkit-transition: all .25s ease-out;
// 	-moz-transition: all .25s ease-out;
// 	-ms-transition: all .25s ease-out;
// 	-o-transition: all .25s ease-out;
// 	transition: all .25s ease-out;


// 	a {
// 		color: @plum !important;

// 		:active, :visited {
// 			color: @plum !important;
// 			text-decoration: none;
// 			outline: none;
// 		}
// 	}

// 	&:hover {
// 		background-color: @plumTrans;
// 		color: #ffffff !important;

// 		a {
// 			color: #ffffff !important;
// 			text-shadow: 1px 1px 2px @plum;
// 		}


// 	}
// }

// p {
// 	font-family: @serifStack;
// 	font-size: 1em;
// 	line-height: 1.65;

// 	&.introText {
// 		font-size: 1.2em;
// 	}

// }

// h1 {
// 	font-size: 2.5em;
// 	color: @plum;
// 	padding: 30px 0;
// 	margin: 0;

// 	@media (max-width: 991px) {
// 		padding: 10px 0;
// 	}

// }
// h2 {
// 	font-size: 2.25em;
// }
// h3 {
// 	font-size: 2em;
// }
// h4 {
// 	font-size: 1.7em;
// }
// h5 {
// 	font-size: 1.4em;
// }


// h1, h2, h3, h4, h5 {
// 	font-weight: normal;
// 	text-align: center;
// }
// h1, h4 {
// 	font-family: @scriptStack;
// }
// h2, h3 {
// 	font-family: @serifStack;
// }


// @mixin replace-text($image, $x: 50%, $y: 50%) {
//   text-indent: -99999em;
//   overflow: hidden;
//   text-align: left;

//   background: {
//     image: $image;
//     repeat: no-repeat;
//     position: $x $y;
//   }
// }

// .mail-icon {
//   @include replace-text(url("/images/mail.svg"), 0);
// }

// MIXINS

// CLOSE BUTTON FOR ANY PURPOSE
@mixin closer($dimen:24px) {
	background-color: red;
	width: $dimen;
	height: $dimen;
	color: white;
	flex-direction: column;
	flex-basis: flex-end;

	&::before {
		font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
	}
}

.centerStuff(@mgnTopBot:0px, @mgnRL:auto) {
	margin: @mgnTopBot @mgnRL;
}
.thickMargin(@marT:20px, @marR:auto, @marB:20px, @marL:auto) {
	margin: @marT @marR @marB @marL;
}
.absolutePos(@t:0, @r:0, @b:0, @l:0) {
	top: @t;
	right: @r;
	bottom: @b;
	left: @l;
}

.bgImage(@url) {
	background-image: url(@url);
	background-position: center center;
// background-attachment: fixed;
background-size: cover;
}

.bgICONS(@url) {
	background-image: url(@url);
	background-position: center center;
	background-size: 80%;
	background-repeat: no-repeat;
}

.doubleBGimage(@urlBot) {
	background-image: url('../IMAGE/patterns/overlay10.png'), url(@urlBot);
	background-repeat: repeat, no-repeat;
	background-size: 3px 3px, cover;
	background-position: 0 0, center center;
	background-attachment: fixed, fixed;
}
.doubleBGimageLIGHT(@urlBot) {
	background-image: url('../IMAGE/patterns/overlay11.png'), url(@urlBot);
	background-repeat: repeat, no-repeat;
	background-size: 3px 3px, cover;
	background-position: 0 0, center center;
	background-attachment: fixed, fixed;
}

.fullHeightWidth {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.btnStyle {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 6px;
	background-color: @plum;
	color: white;
	font-family: @scriptStack;
	font-size: 29px;

	&:hover {
		background-color: @btnHover;
	}
}

.cleanUL(@LH: 1.5) {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	line-height: @LH;
}

.cleanLI(@LH: 1.5) {
	list-style: none;
	padding: 6px;
	margin: 0 auto;
	line-height: @LH;
	background-color: #fff;

	&:hover {

	}
}

//THUMBNAIL OVERLAY
.overlay {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 15px;
	bottom: 0;
	left: 15px;
	background-color: @Ktrans;
	text-align: center;
	margin: 0 15px;
	padding: 40px 0;
	opacity: 0;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-ms-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;

	&:hover {
		opacity: 1;
	}

}



