$grid-gutter-width: 6px;


.dropdown { //SOLUTION FROM ALEX JOLIG-CODEPEN
	.dropdown-menu {
		transition: all 0.3s;
		overflow: hidden;
		transform-origin: top center;
		transform: scale(1,0);
		display: block;
	}
	&:hover {
		.dropdown-menu {
			transform: scale(1);
		}
	}
}



/*SUBMENU ITEMS*/
.subMenuItems {
	position: absolute;
	display: none;
	// width: 80vw;
	margin: 0;
	padding: 30px;
	box-sizing: border-box;
	background-color: rgba($PRLDgreen, .85);
	top: 47px;

	&:hover {
		display: grid;
	}



	&#CNTCT {
		width: 500px;
		right: -5vw;
		left: auto;

		&:hover {
			display: flex;
		}

		form {
			::placeholder {
				color: white;
			}

			input,
			#State,
			textarea {
				background-color: rgba($PRLDwhite, .25);
				color: white;
				border: none;

				&:hover {
					background-color: rgba($PRLDwhite, .4);
				}
			}

			textarea {
				max-height: 80px;

			}
		}

		a#sendBtn {
			position: relative;
			outline: none;
			background-color: darken($PRLDgreen, 10%);
			font-family: "Playfair Display", "Droid Serif", serif;
			color: $PRLDwhite;
			border: 1px solid $PRLDwhite;
			border-radius: 0;
			transform: all .5s;

			&:hover {
				background-color: lighten($PRLDgreen, 20%);
				color: darken($PRLDgreen, 30%);
			}

			&:active {
				background-color: $PRLDgold;
				color: white;
			}
		}
	}

	&#FOLIO {
		position: fixed;
		right: 0;
		left: 0;
		top: 147px;

		&:hover {
			display: grid;
		}


		ul.figureGrid {
			list-style: none;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(140px, auto));
			grid-auto-flow: column;
			justify-content: center;
			grid-gap: 6px;
			padding: 0;
			// background-color: rgba(0, 0, 0, .2);

			li {
				display: flex;
				box-sizing: border-box;
				color: $PRLDwhite !important;
				background-color: rgba($PRLDwhite, .25);

				&:hover {
					color: $PRLDgold !important;
				}


				a {
					display: flex;
					padding: 20px;
					text-decoration: none;
					font-variant-caps: normal;
					color: $PRLDwhite; // !important;
					background-color: rgba($PRLDgreen, .15);
					height: 100%;
					align-items: flex-end;

					&:hover {
						background-color: rgba($PRLDwhite, .3);
						color: $transBlack; //!important;
						// transform: all .5s;

					}

					figure {


						img {}

						figcaption {
							color: PRLDwhite;
							// background-color: #fff;

						}
					}

				}


			}
		}
	}


}