#winTop {
    position: fixed;
    display: none;
    top: 400px;
    right: 20px;
    border: none;
    background-color: rgba(white, .4);
    border: 1px solid $PRLDgold;
    color: $PRLDgold;
    z-index: 1000;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: opacity .25s ease-out;

    // @media only screen and (max-width : 767px) {
    // 	// .absolutePos (350px, 20px, auto, auto);
    // }

    &:hover {
        background-color: rgba($PRLDgreen, .7);
        color: white;
    }

    &[data-toggle] {
        background-color: $PRLDgreen;
    }


    &:active {
        opacity: 1;
    }

}

;