/*IMPORT VARIABLES*/
@import '_html5reset.css';
@import '_variables';
@import '_txtElements';
@import '_nav';
@import '_homePFOLIO';
@import '_structure';
@import '_heroCarousel';
@import '_WINTOP';
@import '_FORM';
@import '_footerMain';
@import '_submenu';


// CHILD PAGES
@import '_PORTFOLIOpg'


